<!DOCTYPE html>
<html>
<head>
    <title>Update Event</title>
</head>
<body>
    <form action="/events/update/{{ event.event_id }}" method="post" onsubmit="return confirmUpdate()">
        <label for="event_name">Event Name:</label><br>
        <input type="text" id="event_name" name="event_name" value="{{ event.event_name }}"><br>
        <label for="event_date">Event Date:</label><br>
        <input type="date" id="event_date" name="event_date" value="{{ event.event_date }}"><br>
        <label for="venue_id">Venue ID:</label><br>
        <input type="number" id="venue_id" name="venue_id" value="{{ event.venue_id }}" required><br>
        <label for="organizer_id">Organizer ID:</label><br>
        <input type="number" id="organizer_id" name="organizer_id" value="{{ event.organizer_id }}" required><br>
        <input type="submit" value="Update Record">
    </form>

    <script>
        function confirmUpdate() {
            return confirm("Are you sure you want to save changes?");
        }
    </script>
</body>
</html>
